@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --white: #FFF;
  --primary: #603B88;
  --secondary: #B22559;
  --grey: #353535;
  --darkgray: #242424;
  --blue: #3B6388;
  --green: #3B8863;
  --red: #AD3F3F;
}

@layer utilities {
  .hover-scale {
    transform: scale(1);
    transition: transform 0.3s;
  }

  .hover-scale:hover {
    transform: scale(1.1);
  }

  .pixelated {
    image-rendering: pixelated;
  }
}

html{
  width:auto;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'PixelFont', monospace;
  font-size: 12px;
}

/*================== Classes extras complementando o tailwind ===================*/

.text-0_5xl { font-size: 1rem; }
.border-3{border-width:3px;}
.border-r-3{border-right-width:3px;}
.border-l-3{border-left-width:3px;}
.border-t-3{border-top-width:3px;}
.border-b-3{border-bottom-width:3px;}

.rounded-4xl{
  border-radius: 2.5rem;
}

/*================== Bordas Pixeladas ===================*/

.pixel-corners-n1,
.pixel-corners-n1--wrapper {
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 16px,
    0px 16px);
  position: relative;
}
.pixel-corners-n1 {
  border: 4px solid transparent;
}
.pixel-corners-n1--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-n1--wrapper .pixel-corners-n1 {
  display: block;
  clip-path: polygon(4px 16px,
    8px 16px,
    8px 12px,
    12px 12px,
    12px 8px,
    16px 8px,
    16px 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 4px),
    16px calc(100% - 4px),
    16px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 16px),
    4px calc(100% - 16px));
}
.pixel-corners-n1::after,
.pixel-corners-n1--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 16px),
    4px calc(100% - 16px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    16px calc(100% - 4px),
    16px 100%,
    calc(100% - 16px) 100%,
    calc(100% - 16px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 16px),
    100% calc(100% - 16px),
    100% 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 0px,
    16px 0px,
    16px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 16px,
    0px 16px,
    0px 50%,
    4px 50%,
    4px 16px,
    8px 16px,
    8px 12px,
    12px 12px,
    12px 8px,
    16px 8px,
    16px 4px,
    calc(100% - 16px) 4px,
    calc(100% - 16px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 16px,
    calc(100% - 4px) 16px,
    calc(100% - 4px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 16px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 8px),
    calc(100% - 16px) calc(100% - 4px),
    16px calc(100% - 4px),
    16px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 16px),
    4px calc(100% - 16px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:var(--data-color, var(--primary));
  display: block;
  pointer-events: none;
}
.pixel-corners-n1::after {
  margin: -4px;
}



.pixel-corners-n2,
.pixel-corners-n2--wrapper {
  clip-path: polygon(0px calc(100% - 28px),
    4px calc(100% - 28px),
    4px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 4px),
    28px calc(100% - 4px),
    28px 100%,
    calc(100% - 28px) 100%,
    calc(100% - 28px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 28px),
    100% calc(100% - 28px),
    100% 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 0px,
    28px 0px,
    28px 4px,
    20px 4px,
    20px 8px,
    12px 8px,
    12px 12px,
    8px 12px,
    8px 20px,
    4px 20px,
    4px 28px,
    0px 28px);
  position: relative;
}
.pixel-corners-n2 {
  border: 4px solid transparent;
}
.pixel-corners-n2--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-n2--wrapper .pixel-corners-n2 {
  display: block;
  clip-path: polygon(4px 28px,
    8px 28px,
    8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    28px 8px,
    28px 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 4px),
    28px calc(100% - 4px),
    28px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 28px),
    4px calc(100% - 28px));
}
.pixel-corners-n2::after,
.pixel-corners-n2--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 28px),
    4px calc(100% - 28px),
    4px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 4px),
    28px calc(100% - 4px),
    28px 100%,
    calc(100% - 28px) 100%,
    calc(100% - 28px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 20px),
    calc(100% - 4px) calc(100% - 28px),
    100% calc(100% - 28px),
    100% 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 0px,
    28px 0px,
    28px 4px,
    20px 4px,
    20px 8px,
    12px 8px,
    12px 12px,
    8px 12px,
    8px 20px,
    4px 20px,
    4px 28px,
    0px 28px,
    0px 50%,
    4px 50%,
    4px 28px,
    8px 28px,
    8px 20px,
    12px 20px,
    12px 12px,
    20px 12px,
    20px 8px,
    28px 8px,
    28px 4px,
    calc(100% - 28px) 4px,
    calc(100% - 28px) 8px,
    calc(100% - 20px) 8px,
    calc(100% - 20px) 12px,
    calc(100% - 12px) 12px,
    calc(100% - 12px) 20px,
    calc(100% - 8px) 20px,
    calc(100% - 8px) 28px,
    calc(100% - 4px) 28px,
    calc(100% - 4px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 20px),
    calc(100% - 12px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 12px),
    calc(100% - 20px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 4px),
    28px calc(100% - 4px),
    28px calc(100% - 8px),
    20px calc(100% - 8px),
    20px calc(100% - 12px),
    12px calc(100% - 12px),
    12px calc(100% - 20px),
    8px calc(100% - 20px),
    8px calc(100% - 28px),
    4px calc(100% - 28px),
    4px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:var(--data-color, var(--primary));
  display: block;
  pointer-events: none;
}
.pixel-corners-n2::after {
  margin: -4px;
}




.pixel-corners-n3,
.pixel-corners-n3--wrapper {
  clip-path: polygon(0px calc(100% - 44px),
    4px calc(100% - 44px),
    4px calc(100% - 36px),
    8px calc(100% - 36px),
    8px calc(100% - 32px),
    8px calc(100% - 28px),
    12px calc(100% - 28px),
    12px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 20px),
    20px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 12px),
    28px calc(100% - 12px),
    28px calc(100% - 8px),
    32px calc(100% - 8px),
    36px calc(100% - 8px),
    36px calc(100% - 4px),
    44px calc(100% - 4px),
    44px 100%,
    calc(100% - 44px) 100%,
    calc(100% - 44px) calc(100% - 4px),
    calc(100% - 36px) calc(100% - 4px),
    calc(100% - 36px) calc(100% - 8px),
    calc(100% - 32px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 20px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 20px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 32px),
    calc(100% - 8px) calc(100% - 36px),
    calc(100% - 4px) calc(100% - 36px),
    calc(100% - 4px) calc(100% - 44px),
    100% calc(100% - 44px),
    100% 44px,
    calc(100% - 4px) 44px,
    calc(100% - 4px) 36px,
    calc(100% - 8px) 36px,
    calc(100% - 8px) 32px,
    calc(100% - 8px) 28px,
    calc(100% - 12px) 28px,
    calc(100% - 12px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 20px,
    calc(100% - 20px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 12px,
    calc(100% - 28px) 12px,
    calc(100% - 28px) 8px,
    calc(100% - 32px) 8px,
    calc(100% - 36px) 8px,
    calc(100% - 36px) 4px,
    calc(100% - 44px) 4px,
    calc(100% - 44px) 0px,
    44px 0px,
    44px 4px,
    36px 4px,
    36px 8px,
    32px 8px,
    28px 8px,
    28px 12px,
    24px 12px,
    24px 16px,
    20px 16px,
    16px 20px,
    16px 24px,
    12px 24px,
    12px 28px,
    8px 28px,
    8px 32px,
    8px 36px,
    4px 36px,
    4px 44px,
    0px 44px);
  position: relative;
}
.pixel-corners-n3 {
  border: 8px solid transparent;
}
.pixel-corners-n3--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners-n3--wrapper .pixel-corners-n3 {
  display: block;
  clip-path: polygon(8px 48px,
    12px 48px,
    12px 40px,
    16px 40px,
    16px 36px,
    16px 32px,
    20px 32px,
    20px 28px,
    24px 28px,
    24px 24px,
    28px 24px,
    28px 20px,
    32px 20px,
    32px 16px,
    36px 16px,
    40px 16px,
    40px 12px,
    48px 12px,
    48px 8px,
    calc(100% - 48px) 8px,
    calc(100% - 48px) 12px,
    calc(100% - 40px) 12px,
    calc(100% - 40px) 16px,
    calc(100% - 36px) 16px,
    calc(100% - 32px) 16px,
    calc(100% - 32px) 20px,
    calc(100% - 28px) 20px,
    calc(100% - 28px) 24px,
    calc(100% - 24px) 24px,
    calc(100% - 24px) 28px,
    calc(100% - 20px) 28px,
    calc(100% - 20px) 32px,
    calc(100% - 16px) 32px,
    calc(100% - 16px) 36px,
    calc(100% - 16px) 40px,
    calc(100% - 12px) 40px,
    calc(100% - 12px) 48px,
    calc(100% - 8px) 48px,
    calc(100% - 8px) calc(100% - 48px),
    calc(100% - 12px) calc(100% - 48px),
    calc(100% - 12px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 36px),
    calc(100% - 16px) calc(100% - 32px),
    calc(100% - 20px) calc(100% - 32px),
    calc(100% - 20px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 20px),
    calc(100% - 32px) calc(100% - 20px),
    calc(100% - 32px) calc(100% - 16px),
    calc(100% - 36px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 12px),
    calc(100% - 48px) calc(100% - 12px),
    calc(100% - 48px) calc(100% - 8px),
    48px calc(100% - 8px),
    48px calc(100% - 12px),
    40px calc(100% - 12px),
    40px calc(100% - 16px),
    36px calc(100% - 16px),
    32px calc(100% - 16px),
    32px calc(100% - 20px),
    28px calc(100% - 20px),
    28px calc(100% - 24px),
    24px calc(100% - 24px),
    24px calc(100% - 28px),
    20px calc(100% - 28px),
    20px calc(100% - 32px),
    16px calc(100% - 32px),
    16px calc(100% - 36px),
    16px calc(100% - 40px),
    12px calc(100% - 40px),
    12px calc(100% - 48px),
    8px calc(100% - 48px));
}
.pixel-corners-n3::after,
.pixel-corners-n3--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 44px),
    4px calc(100% - 44px),
    4px calc(100% - 36px),
    8px calc(100% - 36px),
    8px calc(100% - 32px),
    8px calc(100% - 28px),
    12px calc(100% - 28px),
    12px calc(100% - 24px),
    16px calc(100% - 24px),
    16px calc(100% - 20px),
    20px calc(100% - 16px),
    24px calc(100% - 16px),
    24px calc(100% - 12px),
    28px calc(100% - 12px),
    28px calc(100% - 8px),
    32px calc(100% - 8px),
    36px calc(100% - 8px),
    36px calc(100% - 4px),
    44px calc(100% - 4px),
    44px 100%,
    calc(100% - 44px) 100%,
    calc(100% - 44px) calc(100% - 4px),
    calc(100% - 36px) calc(100% - 4px),
    calc(100% - 36px) calc(100% - 8px),
    calc(100% - 32px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 8px),
    calc(100% - 28px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 12px),
    calc(100% - 24px) calc(100% - 16px),
    calc(100% - 20px) calc(100% - 16px),
    calc(100% - 16px) calc(100% - 20px),
    calc(100% - 16px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 24px),
    calc(100% - 12px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 28px),
    calc(100% - 8px) calc(100% - 32px),
    calc(100% - 8px) calc(100% - 36px),
    calc(100% - 4px) calc(100% - 36px),
    calc(100% - 4px) calc(100% - 44px),
    100% calc(100% - 44px),
    100% 44px,
    calc(100% - 4px) 44px,
    calc(100% - 4px) 36px,
    calc(100% - 8px) 36px,
    calc(100% - 8px) 32px,
    calc(100% - 8px) 28px,
    calc(100% - 12px) 28px,
    calc(100% - 12px) 24px,
    calc(100% - 16px) 24px,
    calc(100% - 16px) 20px,
    calc(100% - 20px) 16px,
    calc(100% - 24px) 16px,
    calc(100% - 24px) 12px,
    calc(100% - 28px) 12px,
    calc(100% - 28px) 8px,
    calc(100% - 32px) 8px,
    calc(100% - 36px) 8px,
    calc(100% - 36px) 4px,
    calc(100% - 44px) 4px,
    calc(100% - 44px) 0px,
    44px 0px,
    44px 4px,
    36px 4px,
    36px 8px,
    32px 8px,
    28px 8px,
    28px 12px,
    24px 12px,
    24px 16px,
    20px 16px,
    16px 20px,
    16px 24px,
    12px 24px,
    12px 28px,
    8px 28px,
    8px 32px,
    8px 36px,
    4px 36px,
    4px 44px,
    0px 44px,
    0px 50%,
    8px 50%,
    8px 48px,
    12px 48px,
    12px 40px,
    16px 40px,
    16px 36px,
    16px 32px,
    20px 32px,
    20px 28px,
    24px 28px,
    24px 24px,
    28px 24px,
    28px 20px,
    32px 20px,
    32px 16px,
    36px 16px,
    40px 16px,
    40px 12px,
    48px 12px,
    48px 8px,
    calc(100% - 48px) 8px,
    calc(100% - 48px) 12px,
    calc(100% - 40px) 12px,
    calc(100% - 40px) 16px,
    calc(100% - 36px) 16px,
    calc(100% - 32px) 16px,
    calc(100% - 32px) 20px,
    calc(100% - 28px) 20px,
    calc(100% - 28px) 24px,
    calc(100% - 24px) 24px,
    calc(100% - 24px) 28px,
    calc(100% - 20px) 28px,
    calc(100% - 20px) 32px,
    calc(100% - 16px) 32px,
    calc(100% - 16px) 36px,
    calc(100% - 16px) 40px,
    calc(100% - 12px) 40px,
    calc(100% - 12px) 48px,
    calc(100% - 8px) 48px,
    calc(100% - 8px) calc(100% - 48px),
    calc(100% - 12px) calc(100% - 48px),
    calc(100% - 12px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 40px),
    calc(100% - 16px) calc(100% - 36px),
    calc(100% - 16px) calc(100% - 32px),
    calc(100% - 20px) calc(100% - 32px),
    calc(100% - 20px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 28px),
    calc(100% - 24px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 24px),
    calc(100% - 28px) calc(100% - 20px),
    calc(100% - 32px) calc(100% - 20px),
    calc(100% - 32px) calc(100% - 16px),
    calc(100% - 36px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 16px),
    calc(100% - 40px) calc(100% - 12px),
    calc(100% - 48px) calc(100% - 12px),
    calc(100% - 48px) calc(100% - 8px),
    48px calc(100% - 8px),
    48px calc(100% - 12px),
    40px calc(100% - 12px),
    40px calc(100% - 16px),
    36px calc(100% - 16px),
    32px calc(100% - 16px),
    32px calc(100% - 20px),
    28px calc(100% - 20px),
    28px calc(100% - 24px),
    24px calc(100% - 24px),
    24px calc(100% - 28px),
    20px calc(100% - 28px),
    20px calc(100% - 32px),
    16px calc(100% - 32px),
    16px calc(100% - 36px),
    16px calc(100% - 40px),
    12px calc(100% - 40px),
    12px calc(100% - 48px),
    8px calc(100% - 48px),
    8px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:var(--data-color, var(--primary));
  display: block;
  pointer-events: none;
}
.pixel-corners-n3::after {
  margin: -8px;
}