@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PixelFont';
  src: url('../../public/fonts/uni05_53.ttf') format('truetype');
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'PixelFont', monospace;
  font-size: 12px;
}

/*================== Classes extras complementando o tailwind ===================*/

.text-0_5xl { font-size: 1rem; }
.border-3{border-width:3px;}
.border-r-3{border-right-width:3px;}
.border-l-3{border-left-width:3px;}
.border-t-3{border-top-width:3px;}
.border-b-3{border-bottom-width:3px;}