@media only screen and (max-width: 800px) {
    .containerSobreResponsividade{
      flex-direction: column;
      justify-content:center;
      align-items:start;
    }
    .containerSobreResponsividade>div{
        width:100%;
        margin-bottom:20px;
        font-size:10px;
      }
  }